* {
    box-sizing: border-box;
  }

  .nav-app-title {
    float: left;

    width: 80.00%;

  }
  .nav-add-button {
    float: right;
    width: 5.0%;
  }
  .nav-sign-out-button{
    float: right;
    width: 15.0%;
  
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  